@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    list-style: none;
}


/* variables */

:root {
    --btn-color: rgb(255, 255, 255);
    --btn-background: rgb(0, 4, 255);
    --btn-hover-background: rgb(3, 6, 150);
    --btn-shadow: ;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(https://media.istockphoto.com/vectors/abstract-grey-and-white-tech-geometric-corporate-design-background-vector-id1177980696?k=6&m=1177980696&s=612x612&w=0&h=FcbfenfcYuvNfHzIWmov4bK9SKJVoarNqd6gx0jEAXU=);
    background-size: cover;
    background-repeat: no-repeat;
}


/* NAvigation Style */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    box-shadow: black 0 -6px 10px;
}

.sticky {
    background-color: white;
}

.max-width {
    width: 100%;
    padding: 0 30px;
    margin: auto;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .max-width .logo {
    font-weight: 800;
    font-size: 20px;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.img {
    display: none;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
}

.navbar ul li a {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 500;
    margin-left: 25px;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: rgb(0, 26, 255);
}

.navbar ul .btn {
    margin: 0 5px;
}

.navbar ul .btn a {
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0 2px;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar ul #user {
    background-color: transparent;
    color: black;
    font-weight: 700;
}

.navbar ul .btn a i {
    color: rgb(0, 0, 0);
    margin: 0 2px;
}

.navbar ul #sign-out {
    border: none;
    background-color: var(--btn-background);
    color: var(--btn-color);
    font-weight: 700;
    box-shadow: var(--btn-shadow);
}

.navbar ul #sign-out:hover {
    background-color: var(--btn-hover-background);
}

.navbar .max-width .burger {
    display: none;
}


/* Resposive navigation bar style  */

@media (max-width: 974px) {
    .max-width {
        padding: 0 20px;
        width: 100%;
    }
    .navbar ul .img {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 80px;
        height: 80px;
        border: 2px solid white;
        border-radius: 50px;
        top: 20px;
        overflow: hidden;
    }
    .navbar ul .img img {
        width: 80px;
    }
    .navbar .max-width .burger {
        display: block;
        z-index: 999;
        cursor: pointer;
        color: rgb(0, 0, 0);
    }
    .navbar .max-width .burger i {
        font-size: 30px;
    }
    .burger .active {
        color: white;
    }
    .navbar .menu {
        position: fixed;
        background-color: rgb(3, 8, 70);
        height: 100vh;
        width: 90%;
        right: -100%;
        top: 0px;
        flex-direction: column;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        transition: all 0.3s ease-in;
    }
    .navbar .active {
        right: 0;
    }
    .navbar ul li {
        margin: 10px 0;
        padding: 5px 0;
    }
    .navbar .menu li a {
        color: white;
        font-size: 18px;
        font-weight: 800;
        margin-left: 0px;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar ul .btn {
        position: absolute;
        bottom: 5%;
    }
    .navbar ul .btn #user {
        color: white;
    }
    .navbar ul .btn a {
        border: 1px solid white;
        color: white;
    }
    .navbar ul .btn a i {
        color: rgb(255, 255, 255);
    }
}


/* home screen style  */

body section {
    display: flex;
    position: relative;
    height: 100vh;
}

body section .left,
.right {
    width: 50%;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

body section .right img {
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body section .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: relative; */
}

body section .left .container {
    /* margin-left: 40px; */
    width: auto;
    position: absolute;
    /* border: 1px solid yellow; */
    padding: 20px;
    width: auto;
}


/*Welcome text animation */

body section .left .container .welcome {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.ml10 {
    position: relative;
    font-weight: 900;
    font-size: 40px;
}

.ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
}


/* heading  */

body section .left .container .head {
    font-size: 50px;
    font-weight: 800;
}

body section .left .container .head span {
    color: red;
}


/* skill animation */

section .container .title {
    font-size: 20px;
}

#spin {
    color: red;
}

#spin:after {
    content: "";
    animation: spin 10s linear infinite;
}

@keyframes spin {
    0% {
        content: "Web Developer";
    }
    10% {
        content: "UI/UX Designer";
    }
    20% {
        content: "Programmer";
    }
    30% {
        content: "Coder";
    }
    40% {
        content: "App Developer";
    }
    50% {
        content: "Blogger";
    }
    60% {
        content: "Content Creater";
    }
    70% {
        content: "Influencer";
    }
    80% {
        content: "Vlogger";
    }
    90% {
        content: "Marketer";
    }
}


/* button styling */

section .container .btn {
    display: flex;
    /* border: 1px solid red; */
    margin: 10px 0;
}

section .container .btn a {
    padding: 5px 20px;
    margin: 0 5px;
    text-decoration: none;
    background-color: var(--btn-background);
    color: var(--btn-color);
    border-radius: 10px;
    box-shadow: var(--btn-shadow);
}

section .container .btn a:hover {
    background-color: var(--btn-hover-background);
}

@media (max-width:705px) {
    body section .left {
        width: 100%;
    }
    .right {
        display: none;
    }
}
